<!doctype html>

<head><title>Poolboy</title>
    <meta charset=utf-8>
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
        <style>
                table, th, td {
                        border: 1px solid black;
                        }
        </style>
</head>

    <body>
        <br>

        <img src="/static/pictures/poolboy.png" alt="Poolboy">

        <br>
	<br>
        <br>
        <table width="80%">
                <font face="Courier New" size="10">
		<tr>
                <th><font face="Courier New" size="10">Main Power</th>
                <th><button> <font face="Arial" size="10"> <a href="/my-link1/">Relais 2</a></button></th>
                </tr>
	</table>
	<br>
	<table width="80%">
		<tr>
		<th>Filterpumpe läuft:</th>
		<th><b>" {{ filterbutton }} "</b></th>
		</tr>
	</table>
	<br>
        <table width="80%">
                <tr>
                <th>Filtern</th>
                <th><button> <font face="Arial" size="10"> <a href="/my-link2/">Relais 1</a></button></th>
		</tr>
	</table>
	<br>
        <table width="80%">
		<tr>
                <th>Heizen</th>
                <th><button> <font face="Arial" size="10"> <a href="/my-link3/">Relais 3</a></button></th>
		</tr>
	</table>
	<br>
        <table width="80%">
		<tr>
                <th>Bubbles</th>
                <th><button> <font face="Arial" size="10"> <a href="/my-link4/">Relais 4</a></button></th>
                </tr>
        </table>
	<br><br>
	<table width="80%">
    		<th>Wassertemperatur: </th>
		<th><b>{{ temp }} Celsius</b></th> 
	</table>
	<br><br>
	<table width="80%">
		<tr>
                <th>Temp +</th>
                <th>Temp -</th>
                </tr>
                <tr>
                <th><button> <font face="Arial" size="10"> <a href="/my-link5/">Relais 5</a></button></th>
                <th><button> <font face="Arial" size="10"> <a href="/my-link6/">Relais 6</a></button></th>
                </tr>
	</table>
	<br>
    </body>
