<!doctype html>

<head><title>Poolboy</title>
    <meta charset=utf-8>
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
        <style>
                table, th, td {
                        border: 1px solid black;
                        }
        </style>
</head>

<body>
	<button type="button"> <a href="/"> <img src="/static/pictures/poolboy.png" alt="Poolboy"></a></button>
	<br>
	<table>
		<tl><font face="Courier New" size="10">Wassertemperatur:</tl>
		<tl><b> {{ temp }} Celsius</b></tl>
                <br>
		<tl><font face="Courier New" size="10">Raumtemperatur:</tl>
		<tl><b>{{ roomtemp }} Celsius</b></tl>
	</table>
	<br>

	<table>
		<th><font face="Courier New" size="10">Main Power</th>
		<th><button> <font face="Arial" size="10"> <a href="/my-link1/">Click</a></button></th>
	</table>
	<br>

	<table>
		<tl>Filterpumpe läuft</tl>
		<tl><b>: {{ filterbutton }} </b></tl>
	</table>
	<table>
		<tl>Heizung läuft</tl>
		<tl><b>: {{ heaterbutton }} </b></tl>
	</table>
	<br>

	<table>
                <th>Filtern</th>
                <th><button> <font face="Arial" size="10"> <a href="/my-link2/">Click</a></button></th>
	</table>
	<br>

	<table>
		<th>Heizen</th>
		<th><button> <font face="Arial" size="10"> <a href="/my-link3/">Click</a></button></th>
	</table>
	<br>

	<table>
                <th>Bubbles</th>
                <th><button> <font face="Arial" size="10"> <a href="/my-link4/">Click</a></button></th>
	</table>
	<br>

	<table>
		<tl>Wunschtemperatur:</tl>
		<tl><b> {{ wishtemp }} Celsius</b></tl>
	</table>
	<br>

	<table>
		<th>Temp +</th>
                <th>Temp -</th>
                <tr>
                <th><button> <font face="Arial" size="10"> <a href="/my-link5/">Relais 5</a></button></th>
                <th><button> <font face="Arial" size="10"> <a href="/my-link6/">Relais 6</a></button></th>
	</table>
	<br>
    </body>
